<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/static/bootstrap.min.css">
		<title>Pictures - Aerial Media</title>
		<link rel="icon" href="/static/favicon.ico">
	</head>
	<body>
		<nav class="navbar sticky-top navbar-dark bg-dark">
			<a class="navbar-brand" href="/"><h3>Aerial Media</h3></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHidden" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarHidden">
				<div class="navbar-nav">
					<p class="nav-item text-light">
						The self-hosted media centre
						<div class="btn-group" role="group">
							<a href="/videos" class="btn btn-light"><img src="/static/videos.svg"> Videos</a>
							<a href="#" class="btn btn-light"><img src="/static/pictures.svg"> Pictures</a>
							<a href="/audio" class="btn btn-light"><img src="/static/audio.svg"> Audio</a>
							<a href="/" class="btn btn-light"><img src="/static/home.svg"> Home</a>
						</div>
					</p>
				</div>
			</div>
		</nav>
		<div class="container">
			<div class="row">
				<div class="col" style="padding: 1.25em; text-align:right">
					<button type="button" class="btn btn-outline-success rounded-pill" data-toggle="modal" data-target="#VideoUpload">+</button>
				</div>
			</div>
			<div class="row">
				{% for picture in pictures %}
					<div class="col-lg-4 card">
						<img src="{{'/static/pictures/' + picture}}" class="card-img-top"></img>
						<div class="card-body">
							<h5 class="card-title">{{picture}}</h5>
							<a href="{{'/picture/' + picture}}" class="btn btn-lg btn-primary" style="width:100%">Let's Go!</a>
						</div>
					</div>
				{% endfor %}
			</div>
		</div>
		<div class="modal fade" id="PictureUpload" tabindex="-1" role="dialog" aria-labelledby="PictureUploadTitle" aria-hidden="true">
			<div class="modal-dialog modal-dialog-centered" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="PictureUploadTitle">Upload Picture</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<form method="POST" enctype="multipart/form-data" action="/pictures/new">
						<div class="modal-body">
							<label for="PictureUploadButton">Upload a picture...</label>
							<input name="file" type="file" class="form-control-file btn btn-primary" id="PictureUploadButton" accept="image/*" required>
							<p><strong>Note:</strong> Make sure there is a file extension (.jpg, .svg, .ico etc.) as it is reguired to make the picture view.</p>
						</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
							<button type="submit" class="btn btn-primary">Upload</button>
						</div>
					</form>
				</div>
			</div>
		</div>
		<script src="/static/jquery-3.4.1.slim.min.js"></script>
		<script src="/static/popper.min.js"></script>
		<script src="/static/bootstrap.min.js"></script>
	</body>
</html>
