<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/static/bootstrap.min.css">
		<title>{{picture}} - Aerial Media</title>
		<link rel="icon" href="/static/favicon.ico">
	</head>
	<body>
		<nav class="navbar sticky-top navbar-dark bg-dark">
			<a class="navbar-brand" href="/"><h3>Aerial Media</h3></a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHidden" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarHidden">
				<div class="navbar-nav">
					<p class="nav-item text-light">
						The self-hosted media centre
						<div class="btn-group" role="group">
							<a href="/videos" class="btn btn-light"><img src="/static/videos.svg"> Videos</a>
							<a href="/pictures" class="btn btn-light"><img src="/static/pictures.svg"> Pictures</a>
							<a href="/audio" class="btn btn-light"><img src="/static/audio.svg"> Audio</a>
							<a href="/" class="btn btn-light"><img src="/static/home.svg"> Home</a>
						</div>
					</p>
				</div>
			</div>
		</nav>
		<div class="container">
			<div class="row">
				<div class="col" style="padding: 1.25em">
					<a href="/pictures" class="btn btn-outline-success rounded-pill" style="text-align:left">&lt;</a>
					<h5 style="text-align:center">{{picture}}</h5>
				</div>
			</div>
			<div class="row">
				<div class="col" style="padding: 1.25em">
					<img src="{{'/static/pictures/' + picture}}" class="container-fluid"></img>
				</div>
			</div>
		<script src="/static/jquery-3.4.1.slim.min.js"></script>
		<script src="/static/popper.min.js"></script>
		<script src="/static/bootstrap.min.js"></script>
	</body>
</html>
